%html{:lang => "en"}
  = haml :head

  %body
    = haml :navbar
    %h1 Listing Expenses

    -# %p{:id => "notice"}
      = flash[:notice]

    %table{:class => "table table-striped"}
      %thead
        %tr
          %th Description
          %th Gross(Amount +/-)
          %th Payment Platform
      %tbody
        - @expenses.each do |expense|
          %tr
            %td
              = expense.item_description
            %td
              = expense.gross_amount
            %td
              = expense.platform
