%html{:lang => "en"}
  = haml :head

  %body
    = haml :navbar

    %ul.nav.nav-tabs{:id => "datatabs"}
      %li.active
        %a{:href => "#home", "data-toggle" => "tab"} HOME
      %li
        %a{:href => "#search_data", "data-toggle" => "tab"} SEARCH
      %li
        %a{:href => "#edit_data", "data-toggle" => "tab"} EDIT
    .tab-content
      = haml :home
      = haml :search_data
      = haml :edit_data
