%html{:lang => "en"}
  = haml :head

  %body
    = haml :navbar

    %ul{:class => "list-inline"}
      %li
        %h1{:class => "lead"}People of CAIN
      %li
        %a{:type => "button", :class => "btn btn-primary", "data-toggle" => "modal", "data-target" => "#add-person"} Add New Person

        -# .modal.fade{:id => "add-person"}
          .modal-dialog
            .modal-content
              .modal-header
                %h4{:class => "modal-title text-center"}
                  Add New Person
                  %button{:type => "button", :class => "close", "data-dismiss" => "modal", "aria-label" => "Close"} &times;
                  -# %h6{:id => "myModalLabel"}
              .modal-body
                .form-horizontal{:role => "form", :action => "/people/create", :method => "post"}
                  - if @person.errors.any?
                    #error_explanation
                      %span
                        = pluralize(@person.errors.count, "error")
                        prohibited this person from being saved
                  -# .row
                    .col-md-3
                      %dl
                        %dt Address
                        %dd
                          = person.address + ", " + person.city + ", " + person.state + " " + person.zip.to_s + ", " + person.country
                    %hr{:class => "divider"}
                    .col-md-3
                      %dl
                        %dt Phone
                        %dd 62578980
                    %hr{:class => "divider"}
                    .col-md-3
                      %dl
                        %dt Company/Organisation
                        %dd Microsoft
                    %hr{:class => "divider"}
                    .col-md-3
                      %dl
                        %dt Comments
                        %dd :))
              .modal-footer
                %button{:type => "button", :class => "btn btn-secondary", "data-dismiss" => "modal"} Close


    - @people.each do |person|
      .row
        .col-md-2
          %img{:src => "user.png", :alt => "User", :class => "img-responsive center-block img-rounded", :width => "64"}
        .col-md-3{:class => "text-center"}
          %h5= person.first_name + " " + person.last_name
          %p= person.role.role_name
          %p= person.phone
          %p= person.email
          %p= person.address + ", " + person.city + ", " + person.state + " " + person.zip.to_s + ", " + person.country
        .col-md-3{:class => "text-center"}
          %a{:type => "button", :class => "btn btn-info"} Edit
          -# %form{:action => "/people/destroy/#{@person}", :method => "post"}
          %input{:type => "submit", :class => "btn btn-danger", :value => "Delete", :onclick => "return confirm('Are you sure?')"}
      %hr{:class => "divider"}


    -# %p{:id => "notice"}
      = flash[:notice]
